* {
  font-family: 'Gotham Pro';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* section */
  .section,
  .slider__patogenez-1,
  .slider__patogenez-2,
  .slider__patogenez-3 {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  /* pagination */
  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
    height: 12px;
    width: 12px;
    }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    margin: -2px 0 0 -2px;
    background-color: #f78b1f;
  }
  #fp-nav ul, .fp-slidesNav ul {
    margin-right: 5px;
    margin-bottom: 23px;
  }
  .fp-tableCell {
    display: block; 
  }

  /* navigation */
  .navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/navigation.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  .navigation__text {
    display: block;
    font-family: 'Gotham Pro';
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 7px;
    margin-left: 30px;
  }
  .navigation__arrow {
    margin-bottom: 10px;
    margin-left: 28px;
  }

  /* therapy */
  .section-therapy {
    background-image: url(../img/ref_0000_01.jpg);
  }
  .section-therapy__title {
    font-family: 'Gotham Pro';
    padding-top: 140px;
    margin-left: 7%;
    color: #0d319c;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    width: 780px;
  }

  /* therapy animation */
  @-webkit-keyframes animate-circle {
    from {
      -webkit-transform: scale(.2);
      transform: scale(.2);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }

  @keyframes animate-circle {
    from {
      -webkit-transform: scale(.2);
      transform: scale(.2);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  .section-therapy__loader {
    position: relative;
    border-radius:100%;
    margin: 0 auto;
    overflow: hidden;   
  }

  .section-therapy__loader:after{
    content:'';
    position:absolute;
    left: 1px; 
    top: 1px;
    border-radius:100%;  
    box-shadow: 0px 0px 0px 2000px #cf1437;
  }

  .section-therapy__circle {
    --duration: 2.5s;
    position: absolute;
    left: 1px; 
    top: 1px;
    border-radius:100%;
    background: radial-gradient(#de791b, #cf1437); 
    -webkit-animation: animate-circle var(--duration) cubic-bezier(.13,.71,.8,.35) infinite;
    animation: animate-circle var(--duration) cubic-bezier(.13,.71,.8,.35) infinite;
  }

  .section-therapy__back {
    position: absolute;
    left: 1px; 
    top: 1px;
    border-radius: 100%;
    background:#de791b; 
    opacity: 0.3;
  }

  .section-therapy__text {
    position: absolute;
    width: 200px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    color: #0d319c;
    letter-spacing: 0.4px;
  }
  .section-therapy__item {
    --size: 3.5rem;
    position: fixed;
    height: var(--size);
    width: var(--size);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .section-therapy__circle:nth-of-type(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0;
  }
  .section-therapy__circle:nth-of-type(2) {
    -webkit-animation-delay: calc(var(--duration) / -2);
    animation-delay: calc(var(--duration) / -2);
  }
  .section-therapy__circle:nth-of-type(3) {
    -webkit-animation-delay: calc(var(--duration) / -4);
    animation-delay: calc(var(--duration) / -4);
  }
  .section-therapy__item:nth-of-type(1) {
    top: 38%;
    left: 57.5%;
  }
  .loader_big {
    width: 52px;
    height: 52px;
  }
  .loader_big:after,
  .circle_big,
  .back_big{
    width: 50px;
    height: 50px;
  }
  .section-therapy__text:nth-of-type(1) {
    top: 10px;
    left: 65px;
  }
  .section-therapy__item:nth-of-type(2) {
    top: 59%;
    left: 28%;
  }
  .loader_medium {
    width: 30px;
    height: 30px;
  }
  .loader_medium:after,
  .circle_medium,
  .back_medium{
    width: 28px;
    height: 28px;
  }
  .section-therapy__item:nth-of-type(2) > .section-therapy__text{
    top: -32px;
    left: -36px;
  }
  .section-therapy__item:nth-of-type(3) {
    top: 74%;
    left: 47.5%;
  }
  .loader_small {
    width: 16px;
    height: 16px;
  }
  .loader_small:after,
  .circle_small,
  .back_small{
    width: 14px;
    height: 14px;
  }
  .section-therapy__item:nth-of-type(3) > .section-therapy__text{
    top: -34px;
    left: -90px;
  }
  .section-therapy__item:nth-of-type(4) {
    top: 71%;
    left: 81%;
  }
  .loader_small {
    width: 16px;
    height: 16px;
  }
  .loader_small:after,
  .circle_small,
  .back_small{
    width: 14px;
    height: 14px;
  }
  .section-therapy__item:nth-of-type(4) > .section-therapy__text{
    top: -32px;
    left: -10px;
  }

  /* patogenez */

  .section-patogenez {
    background-image: url(../img/ref_0001_02.jpg);
  }
  .section-patogenez__title {
    font-family: 'Gotham Pro';
    padding-top: 248px;
    margin-left: 27.5%;
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.01px;
    max-width: 500px;
  }
  .section-patogenez__title-second-line {
    margin-left: 50px;
  }

  /* slider */
  .slider {
    position: relative;
    overflow: hidden;
  }
  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }
  .slider__item {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    height: 768px;
  }
  .slider__item > p {
    position: absolute;
    font-family: 'Lato';
    color:  #fff;
    font-weight: 400;
  }
  .slider__item > p > span {
    font-family: 'Lato';
    position: absolute;
    font-size: 36px;
    font-weight: 500;
  }
  .slider__title {
    font-family: 'Gotham Pro';
    padding-top: 113px;
    margin-left: 8%;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.01px;
  }
  .slider__patogenez-1 {
    background-image: url(../img/ref_0002_3_1.jpg);
  }
  .slider__item.slider__patogenez-1 > p {
    font-size: 24px;
  }
  .slider__text-patogenez-1-1 {
    top: 31%;
    left:47%;
  }
  .slider__text-patogenez-1-1 span,
  .slider__text-patogenez-1-2 span,
  .slider__text-patogenez-1-3 span {
    top: -40px;
    left: 40px;
  }
  .slider__text-patogenez-1-2 {
    top: 51.5%;
    left: 23.5%;
  }
  .slider__text-patogenez-1-3 {
    top: 51.5%;
    left: 71.5%;
  }
  .slider__text-patogenez-1-3 span {
    left: 28px;
  }
  .slider__item.slider__patogenez-1 > p.slider__desc-1 {
    top: 62%;
    left: 45%;
    font-size: 20px;
  }

  /* slider__patogenez-2 */
  .slider__patogenez-2 {
    background-image: url(../img/ref_0003_3_2.jpg);
  }
  .slider__item.slider__patogenez-2 > p {
    font-size: 20px;
  }
  .slider__text-patogenez-2-1 {
    top: 24%;
    left:48%;
  }
  .slider__text-patogenez-2-1 span {
    top: -35px;
    left: 26px;
  }
  .slider__text-patogenez-2-2 {
    top: 29.3%;
    left: 12.5%;
    width: 200px;
    text-align: right;
  }
  .slider__text-patogenez-2-2 span {
    top: 0px;
    left: 230px;
  }
  .slider__text-patogenez-2-3 {
    top: 29.3%;
    left: 70.5%;
    width: 90px;
    text-align: left;
  }
  .slider__text-patogenez-2-3 span {
    top: 0px;
    left: -55px;
  }
  .slider__text-patogenez-2-4 {
    top: 54%;
    left: 81%;
    width: 90px;
    text-align: left;
  }
  .slider__text-patogenez-2-4 span {
    top: -45px;
    left: 0px;
  }
  .slider__text-patogenez-2-5 {
    top: 76.3%;
    left: 62%;
    width: 90px;
    text-align: left;
  }
  .slider__text-patogenez-2-5 span {
    top: -41px;
    left: 30px;
  }
  .slider__text-patogenez-2-6 {
    top: 76.3%;
    left: 47.5%;
    width: 90px;
    text-align: left;
  }
  .slider__text-patogenez-2-6 span {
    top: -41px;
    left: 25px;
  }
  .slider__text-patogenez-2-7 {
    top: 76.3%;
    left: 31.7%;
    width: 90px;
    text-align: center;
  }
  .slider__text-patogenez-2-7 span {
    top: -41px;
    left: 31px;
  }
  .slider__text-patogenez-2-8 {
    top: 53.5%;
    left: 12.5%;
    width: 90px;
    text-align: right;
  }
  .slider__text-patogenez-2-8 span {
    top: -45px;
    left: 70px;
    }
  .slider__item.slider__patogenez-2 > p.slider__desc-2  {
    top: 47.5%;
    left: 42%;
    font-size: 26px;
  }

  /* slider__patogenez-3 */
  .slider__patogenez-3 {
    background-image: url(../img/ref_0004_3_3.jpg);
  }
  .slider__item.slider__patogenez-3 > p {
    font-size: 20px;
  }
  .slider__item.slider__patogenez-3 .slider__text-patogenez-3-1 {
    top: 19.5%;
    left: 46.5%;
    font-size: 24px;
    width: 100px;
    text-align: right;
  }
  .slider__text-patogenez-3-1 span {
    top: -10px;
    left: -32px;
  }
  .slider__text-patogenez-3-2 {
    top: 48.5%;
    left: 36%;
    width: 100px;
    text-align: right;
  }
  .slider__text-patogenez-3-2 span {
    top: -34px;
    left: 120px;
  }
  .slider__text-patogenez-3-3 {
    top: 49%;
    left: 48.5%;
    width: 200px;
    text-align: right;
  }
  .slider__text-patogenez-3-3 span {
    top: -38px;
    left: 46px;
  }
  .slider__text-patogenez-3-4 {
    top: 77%;
    left: 73%;
    width: 200px;
    text-align: right;
  }
  .slider__text-patogenez-3-4 span {
    top: -42px;
    left: 46px;
  }
  .slider__text-patogenez-3-5 {
    top: 66%;
    left: 77.5%;
    width: 200px;
    text-align: left;
  }
  .slider__text-patogenez-3-5 span {
    top: -42px;
    left: 0px;
  }
  .slider__text-patogenez-3-6 {
    top: 55.5%;
    left: 77.5%;
    width: 200px;
    text-align: left;
  }
  .slider__text-patogenez-3-6 span {
    top: -42px;
    left: 0px;
  }
  .slider__text-patogenez-3-7 {
    top: 34.5%;
    left: 77.5%;
    width: 200px;
    text-align: left;
  }
  .slider__text-patogenez-3-7 span {
    top: -42px;
    left: 0px;
  }
  .slider__text-patogenez-3-8 {
    top: 33.5%;
    left: 6%;
    width: 200px;
    text-align: right;
  }
  .slider__text-patogenez-3-8 span {
    top: -38px;
    left: 180px;
  }
  .slider__text-patogenez-3-9 {
    top: 45.6%;
    left: -4%;
    width: 300px;
    text-align: right;
  }
  .slider__text-patogenez-3-9 span {
    top: -38px;
    left: 282px;
  }
  .slider__text-patogenez-3-10 {
    top: 64%;
    left: -4%;
    width: 300px;
    text-align: right;
  }
  .slider__text-patogenez-3-10 span {
    top: -38px;
    left: 260px;
  }
  .slider__text-patogenez-3-11 {
    top: 77.5%;
    left: 18.5%;
    width: 300px;
    text-align: right;
  }
  .slider__text-patogenez-3-11 span {
    top: -38px;
    left: 260px;
  }
  .slider__item.slider__patogenez-3 .slider__desc-3-1 {
    top: 63.5%;
    left: 42%;
    font-size: 24px;
  }
  .slider__item.slider__patogenez-3 .slider__desc-3-2 {
    top: 56%;
    left: 54.5%;
    font-size: 16px;
  }
  .slider__item.slider__patogenez-3 .slider__desc-3-3 {
    top: 53.5%;
    left: 28%;
    font-size: 16px;
  }
  .slider__item.slider__patogenez-3 .slider__desc-3-4 {
    top: 45.5%;
    left: 72%;
    font-size: 16px;
  }

  /* slider tools */
  .slider__tools-wrap {
    position: absolute;
    top: 86%;
    left: 185px;
  }
  .slider__tools {
    position: relative;
    height: 50px;
    width: 650px;
    display: flex;
    justify-content: space-between;
  }
  .slider__switch { 
    position: absolute;
    height: 50px;
    width: 40px;
    z-index: 10;
  }
  .slider__point {
    height: 10px;
    width: 50px;
    margin-top: 65px;
    font-family: 'Gotham Pro';
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.4px;
  }
  .slider__line {
    position: absolute;
    top: 25px;
    left: 10px;
    height: 10px;
    width: 630px;
    background: -moz-linear-gradient(to right, #d1eaff 0%, #d1eaff 0% ,#435063 0%, #435063 100%);
    background: -webkit-linear-gradient(to right, #d1eaff 0%, #d1eaff 0% ,#435063 0%, #435063 100%);
    background: linear-gradient(to right, #d1eaff 0%, #d1eaff 0% ,#435063 0%, #435063 100%);
    text-align: center;
    z-index: 5;
  }
}